.page {
  flex-flow: column;
  justify-content: center;
  color: var(--accent-color);
  font: var(--font-weight-main) var(--main-font, Arial), sans-serif;
  background: 
    var(--background-image) 
    center / cover 
    no-repeat 
    fixed, 
    var(--main-background);
  min-width: 320px;
  min-height: 100dvb;
  font-variation-settings: "wght" var(--font-weight-main);
  display: flex;
}

.header {
  grid-template: auto / 1fr;
  place-items: center;
  margin: 100px 0 50px;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  font-family: var(--accent-font, "VT323"), monospace;
  background: var(--main-background);
  display: grid;
}

.header__width {
  width: var(--width-value);
}

.header-logo {
  padding-top: 130px;
  font-family: inherit;
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  height: min-content;
}

.header-title {
  justify-self: center;
  padding-top: clamp(20px, calc(20px + (5 * ((100vw - 375px) / 1065))), 25px);
  padding-bottom: 135px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 14px;
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 0px;
}


.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 2px solid var(--accent-color);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.image-text {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  opacity: 0.5;
  color: var(--accent-color);
  font: 400 14px/1 var(--accent-font, "VT323"), monospace;
  letter-spacing: normal;
  text-align: start;
  mix-blend-mode: hard-light;
  text-shadow: 1px var(--outline-color);
}


@supports (-webkit-text-stroke: 1px var(--outline-color)) or (text-stroke: 1px var(--outline-color)) {
  .image-text {
    -webkit-text-stroke: 1px var(--outline-color);
    text-stroke: 1px var(--outline-color);
    text-shadow: none;
  }
}

.article {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin: 51.4px 0 0;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  background: var(--main-background);
}

.article-title {
  padding: 7px 11px 4px 12px;
  font: var(--font-weight-title) 18px/1.22 var(--main-font, Arial), sans-serif;
  font-variation-settings: "wght" var(--font-weight-title);
}

.saturation {
  filter: saturate(150%);
}

.contrast {
  filter: contrast(120%);
}

.dreamy-blur {
  filter: blur(4px) brightness(0.9);
}

.warmth {
  filter: sepia(0.3) saturate(1.5);
}

.surreal-edge {
  filter: contrast(1.3) saturate(0) grayscale(1);
}

.nostalgic-tone {
  filter: hue-rotate(90deg) sepia(0.4);
}

.bright-sunshine {
  filter: brightness(1.2) contrast(0.9);
}

.mystery-shadow {
  filter: brightness(1) contrast(1.5) blur(2px);
}

.article__text {
  padding: 25px;
  font: var(--font-weight-main) 18px/1.17 var(--main-font, Arial), sans-serif;
  font-variation-settings: "wght" var(--font-weight-main);
}

.article__text:last-of-type {
  padding: 0px 25px 25px 25px;
}

.card {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  margin-inline-end: 27px;
  margin-block-end: 27px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  transition: box-shadow var(--transition-time) ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);

}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  padding-top: 4px;
}

.button__text {
  position: relative;
  z-index: 2;
  display: inline-flex;
  place-content: center;
  place-items: center;
  color: var(--text-color-button);
  font: 400 14px/1 var(--accent-font, "VT323"), monospace;
  mix-blend-mode: difference;
}

.card__icon-button {
  max-height: 38px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.floppy-button {
  display: flex;
  flex-flow: column;
  place-content: center;
  place-items: center;
  gap: 9px;
  min-inline-size: 310px;
  min-block-size: 86px;
  background: var(--main-background);
}

.icon-floppy {
  z-index: 2;
  width: 28px;
  height: 28px;
  color: var(--text-color-button);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  width: 357px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0 0;
}

.ok-button {
  min-inline-size: 257px;
  min-block-size: 38px;
  padding-block-start: 5px;
  text-transform: uppercase;
}

.columns__text {
  max-inline-size: 65%;
  color: var(--accent-color);
  font: 400 14px/1.5 var(--accent-font, "VT323"), monospace;
  text-transform: uppercase;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card__icon-button:focus {
  outline: none;
}

form {
  padding-bottom: 15px;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--icon-hover-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--icon-hover-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--color-icon);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--color-icon);
  transition-delay: 0s;
}

.like-icon.is-liked {
  transition: fill 0.3s ease;
  animation: scaleHeart 0.3s ease-in 0.1s both;
}

.like-icon.is-liked .main-body {
  fill: var(--color-icon);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--icon-hover-color);
  transition-delay: 0s;
}

.like-icon.is-liked .contour {
  fill: var(--color-icon);
  transition-delay: 0.06s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: flashSparks 0.3s ease-in 0.3s both;
}

.like-icon:not(.is-liked) .contour {
  transition: stroke 0.1s linear;
}

.save_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

.dialog {
  position: fixed;
  inset: 0;
  inline-size: min(341px, 90vw);
  border: 2px solid var(--accent-color);
  background: var(--main-background);
}



.icon-floppy-dialog {
  color: var(--icon-hover-color);
}

@media (max-width: 375px) {
  .header {
    margin-top: 99px;
  }

  .header-logo {
    padding-top: 125px;
  }
}

@media (min-width: 376px) {
  .header {
    align-self: center;
    max-width: 700px;
  }

  .theme-menu {
    padding-left: 12px;
  }

  .main {
    align-self: center;
    max-width: 700px;
  }

  .article__title {
    padding: 6px 15px 5px 12px;
  }

  .image-text {
    top: 25px;
    right: 25px;
  }

  .floppy-button {
    display: flex;
    flex-direction: row;
    min-width: 339px;
    min-height: 54px;
  }

  .icon-floppy {
    width: 21px;
    height: 21px;
  }

  .dialog {
    max-width: 357px;

  }

  .dialog-content {
    gap: 30px;
  }

  .columns {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
    padding: 15px 0px 0px 13px;
  }

  .ok-button {
    min-width: 293px;
    min-height: 38px;
    padding-top: 5px;
  }

  .columns__text {
    max-width: 90%;
  }
}

